<a [routerLink]="['/']">
  <h1>My Store</h1>
</a>


<div>
  <a routerLink="/sample" class="button fancy-button">
    go to sample
  </a><span>|</span>
  <a routerLink="/sample/text" class="button fancy-button">
    textbox
  </a><span>|</span>
  <a routerLink="/sample/store" class="button fancy-button">
    store
  </a><span>|</span>
  <a routerLink="/sample/loop" class="button fancy-button">
    loop
  </a><span>|</span>
  <a routerLink="/sample/loop" class="button fancy-button">
    loop
  </a><span>|</span>
  <a routerLink="/cart" class="button fancy-button">
    Checkout
  </a>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->